.places__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  @media screen and (max-width: 943px) {
    .places__cards {
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 616px) {
    .places__cards {
      grid-template-columns: repeat(auto-fit, 282px);
    }
  }