.profile {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    width: 100%;
    margin: 36px auto 0;
  }
  
  @media screen and (max-width: 943px) {
    .profile {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 42px;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 616px) {
    .profile {
      padding-left: 19px;
      padding-right: 19px;
    }
  }