.header {
  /* position: sticky;
  top: 0; - sticky header*/                 
    box-sizing: border-box;
    display: flex;
    max-width: 880px;
    width: 100%;
    padding: 45px 0 41px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
  
  @media screen and (max-width: 943px) {
    .header {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media screen and (max-width: 616px) {
    .header {
      padding: 28px 27px 27px;
    }
  }