.form__input {
    width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0;
  padding: 0 0 9px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  }
  
  .form__input:focus {
    outline: 2px solid #2f80ed;
    border-radius: 5px;
  }
  
  .form__input:first-of-type {
    margin: 0;
  }

  @media screen and (max-width: 616px) {
    .form__input {
      padding-bottom: 8px;
    }
  }