.popup {
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    /* backdrop-filter: blur(5px); */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
  transition: visibility .25s, opacity .25s linear;
  }
  
  @media screen and (max-width: 616px) {
    .popup {
      padding-left: 19px;
      padding-right: 19px;
    }
  }